{% extends 'base.html.twig' %}

{% block title %}Edit ProdutoCategoria{% endblock %}

{% block body %}
    <h1>Edit ProdutoCategoria</h1>

    {{ include('produto_categoria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('produto_categoria_index') }}">back to list</a>

    {{ include('produto_categoria/_delete_form.html.twig') }}
{% endblock %}
