{% extends 'base.html.twig' %}

{% block title %}
	Categoria de produto
{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<i class="fa fa-hammer"></i>
				<a href="{{path('produto_categoria_index')}}">Categoria de produto</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Editar</li>
		</ol>
	</nav>
{% endblock %}

{% block conteudo %}
	<div class="table-responsive">
		{{ include('produto_categoria/_form.html.twig', {'button_label': 'Atualizar'}) }}
	</div>
{% endblock %}
