{% extends 'base.html.twig' %}

{% block title %}
	Editar uma Categoria para produto
{% endblock %}

{% block breadcumb %}
	Editar uma Categoria para produto
{% endblock %}

{% block conteudo %}
	<div class="table-responsive">
		{{ include('produto_categoria/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('produto_categoria_index') }}">back to list</a>

		{{ include('produto_categoria/_delete_form.html.twig') }}
	</div>
{% endblock %}
