{% extends 'base.html.twig' %}

{% block title %}
	Criar Nova Categoria para produto
{% endblock %}

{% block breadcumb %}
	Criar Nova Categoria para produto
{% endblock %}

{% block conteudo %}
	<div class="table-responsive">
		{{ include('produto_categoria/_form.html.twig') }}
		<br>
		<a href="{{ path('produto_categoria_index') }}">voltar para lista</a>
	</div>
{% endblock %}
