<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Entendendo o frontend!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block navbar %}
				<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
					<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Estudo de Symfony 4</a>
					<ul class="navbar-nav px-3">
						<li class="nav-item text-nowrap">
							<a class="nav-link" href="#">Sign out</a>
						</li>
					</ul>
				</nav>
			{% endblock %}

			{% block container %}
				<div class="container-fluid">
					<div class="row">
						{% block sidebarMenu %}
							{{ include('sidebar.html.twig') }}
						{% endblock %}

						{% block main %}
							<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
								<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
									<h1 class="h2">
										{% block breadcrumb %}
											Home
										{% endblock %}
									</h1>
								</div>
								{% block conteudo %}{% endblock %}
							</main>
						{% endblock %}
					</div>
				</div>
			{% endblock %}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
