<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="sidebar-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('produto_index') }}">
					<i class="fas fa-angle-double-right"></i>
					Produtos
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('produto_categoria_index') }}">
					<i class="fas fa-angle-double-right"></i>
					Categorias de produto
				</a>
			</li>
		</ul>
	</div>
</nav>
