{% extends 'base.html.twig' %}

{% block title %}New Produto{% endblock %}

{% block body %}
    <h1>Create new Produto</h1>

    {{ include('produto/_form.html.twig') }}

    <a href="{{ path('produto_index') }}">back to list</a>
{% endblock %}
