{% extends 'base.html.twig' %}

{% block title %}
	Produto
{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<i class="fa fa-hammer"></i>
				<a href="{{path('produto_index')}}">Produto</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
		</ol>
	</nav>
{% endblock %}

{% block conteudo %}
	<div class="table-responsive">
		{{ include('produto/_form.html.twig') }}
	</div>
{% endblock %}
